$basic-state-background: #F2F2F2;
$basic-state-text: #FFFFFF;
$accent-state-text: #2F281E;
$primary-state-text: #544837;
$accent-state: #FF9900;
$basic-state-dark: #173A56;
$basic-state-light: #BCD0E5;
