<section class="advantages">
  <h3 class="title advantages-title">We design tools to unveil your superpowers</h3>
  <div class="advantages-wrapper">
    <div class="advantages-item">
      <img class="advantages-icon" src="img/iconAdvantures.svg" alt="cursor" />
      <h5 class="small-title">First click tests</h5>
      <p class="common-text advantages-common-text">While most people enjoy casino gambling.</p>
    </div>
    <div class="advantages-item">
      <img class="advantages-icon" src="img/iconAdvantures2.svg" alt="cursor" />
      <h5 class="small-title">Design surveys</h5>
      <p class="common-text advantages-common-text">
        Sports betting, lottery and bingo playing for the fun.
      </p>
    </div>
    <div class="advantages-item">
      <img class="advantages-icon" src="img/iconAdvantures3.svg" alt="cursor" />
      <h5 class="small-title">Preference tests</h5>
      <p class="common-text advantages-common-text">The Myspace page defines the individual.</p>
    </div>
    <div class="advantages-item">
      <img class="advantages-icon" src="img/iconAdvantures4.svg" alt="cursor" />
      <h5 class="small-title">Five second tests</h5>
      <p class="common-text advantages-common-text">
        Personal choices and the overall personality of the person.
      </p>
    </div>
  </div>
  <button class="button-accent button-accent-advantages">Sign up now</button>
  <img class="advantages-background" src="img/bgAdvantages.svg" alt="decorative imagine">
</section>
