<section class="get-started">
    <div class="text-wrapper-started">
      <h1 class="main-title">The Design Thinking superpowers</h1>
      <p class="common-text started-text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.</p>
      <div class="buttons-wrapper-started">
        <button class="button-accent button-accent-started">Get started</button>
        <a class="button-link button-link-started" href="#">Watch the Video</a>
      </div>
    </div>
    <img class="img-started" src="img/get-started.svg" alt="people">
  </section>
