<section class="our-tasks">
  <div class="task">
    <div class="task-text-wrapper">
      <p class="common-text">Effortless Validation for</p>
      <h4 class="title">Design Professionals</h4>
      <p class="common-text task-text">
        The Myspace page defines the individual, his or her characteristics, traits, personal
        choices and the overall personality of the person.
      </p>
      <h6 class="small-sub-title">Accessory makers</h6>
      <p class="common-text task-text">
        While most people enjoy casino gambling, sports betting, lottery and bingo playing for the
        fun.
      </p>
      <h6 class="small-sub-title">Alterationists</h6>
      <p class="common-text task-text">
        If you are looking for a new way to promote your business that won’t cost you more money.
      </p>
      <h6 class="small-sub-title">Custom Design designers</h6>
      <p class="common-text task-text">
        If you are looking for a new way to promote your business that won’t cost you more money.
      </p>
    </div>
    <img class="task-image" src="img/task.svg" alt="man" />
  </div>
</section>
