.button {

  &-basic {
    @include button ($button-width-small,$button-height-small);
    font-weight: 600;
    color: $basic-state-dark;
    background-color: $basic-state-background;
    border: 1px solid $basic-state-light;
  }

  &-accent {
    @include button ($button-width-big, $button-height-big);

    &-header {
      width: $button-width-small;
      height: $button-height-small;
    }
  }
}
