.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;

  &-logo {
    align-self: center;

    @include media("max", "md") {
      width: 150px;
    }

    @include media("max", "xs") {
      width: 80px;
    }
  }
}

.menu {
  flex-grow: 2;

  &-list {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }

  &-item {
    @include fonts-style (14px, 400, 28px, $accent-state-text);

    &:hover {
      color: $primary-state-text;
    }
  }

  @include media("max", "md") {
    flex-grow: 0;
    order: 1;

    #menu-toggle {
      display: block;
      opacity: 0;
    }

    &-button {
      display: flex;
      align-items: center;
      position: relative;
      top: 10px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 2;
    }

    .menu-button > .menu-icon,
    .menu-button > .menu-icon::before,
    .menu-button > .menu-icon::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $accent-state-background;
      transition-duration: 0.25s;
    }

    .menu-button > .menu-icon::before {
      content: "";
      top: -8px;
    }

    .menu-button > .menu-icon::after {
      content: "";
      top: 8px;
    }

    &-list {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 285px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      text-align: center;
      background-color: $primary-state-background;
      box-shadow: 1px 0 6px rgb(0 0 0 / 20%);
      transition-duration: 0.25s;
    }

    &-item {
      @include fonts-style (22px, 600, 33px, $accent-state-text);

      display: block;
      padding: 12px 24px;
      transition-duration: 0.25s;

      &:hover {
        background-color: $accent-state-background-light;
      }
    }
  }

  @include media("max", "sm") {
    &-button {
      top: -6px;
    }
  }

  @include media("max", "xs") {
    &-button {
      right: 6px;
    }
  }
}

.buttons-wrapper-header {
  margin-left: 20px;

  @include media("max", "md") {
    margin-right: 45px;
    flex-grow: 2;
    display: flex;
    justify-content: end;
  }

  @include media("max", "sm") {
    flex-grow: 3;
    margin-right: 8px;
    margin-left: 0;
    justify-content: center;
    align-self: center;
  }
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu-button > .menu-icon {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-button > .menu-icon::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-button > .menu-icon::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-list {
  visibility: visible;
  left: 0;
  z-index: 1;
}
