// colors
$basic-state-background: #F2F2F2;
$primary-state-background: #ECEFF1;
$accent-state-background: #616161;
$basic-state-text: #FFFFFF;
$accent-state-text: #2F281E;
$primary-state-text: #544837;
$accent-state: #FF9900;
$basic-state-dark: #173A56;
$basic-state-light: #BCD0E5;

// fonts
$fonts-family: 'Poppins', sans-serif;

// buttons
$button-width-small: 110px;
$button-width-medium: 131px;
$button-width-big: 175px;
$button-height-small: 46px;
$button-height-medium: 39px;
$button-height-big: 53px;
$button-width-screen-sm: 60px;
$button-height-screen-sm: 30px;
