// colors
$basic-state-background: #f2f2f2;
$primary-state-background: #eceff1;
$accent-state-background: #616161;
$accent-state-background-light: #cfd8dc;
$basic-state-text: #fff;
$accent-state-text: #2f281e;
$primary-state-text: #544837;
$accent-state: #f90;
$basic-state-dark: #173a56;
$basic-state-light: #bcd0e5;

// fonts
$fonts-family: "Poppins", sans-serif;

// buttons
$button-width-small: 110px;
$button-width-medium: 131px;
$button-width-big: 175px;
$button-height-small: 46px;
$button-height-medium: 39px;
$button-height-big: 53px;
$button-width-screen-sm: 60px;
$button-height-screen-sm: 30px;
